/*********************************************
page:
*********************************************/




/*********************************************
page: HOME
*********************************************/

.jumbotron h1 {
    text-align: center;
}

.jumbotron h3 {
    text-align: center;
}

#homebutton {
    margin-bottom: 10%;
}