
{% block nav_bar %}
    <style>
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-header">
          {% if user.is_authenticated %}
              <li><a href=/question_list/>Questions</a></li>
              <li><a>{{ user.username }} </a>is logged in</li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href=/accounts/login/>Login</a></li>
              <li><a href=/register/>Register</a></li>
          {% endif %}
          </ul>
       </div>
    </nav>
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <body>
            <p>
                <br/>
                "Base Block Content"
            </p>
        </body>
    </html>
{% endblock%}