{% extends "base.html" %}

{% block content %}
    <p>
        <br/>
            {{ "Asked by: "}} {{ question.user }} - Reputation: {{ user.reputation }} <br/>
            {{ "Title:" }} {{ question.title }} <br/>
            {{ "Question: "}} {{ question.question }} <br/>
            {{ "Submitted: "}}{{ question.timestamp}} <br/>
                _____________________ <br/>
                _____________________
    </p>
    <p>
            {% for answer in question.answer_set.all %} <br/>
                Answered by: {{ answer.user  }} - Reputation: {{ user.reputation }}<br/>
                Answer: {{ answer.answer }} <br/>
                    <form action="{% url 'upvote' %}">
                        <button type="submit" value="up" > Upvote </button>
                    <form/>
                    <form action="{% url 'downvote' %}">
                        <button type="submit" value="down"> Downvote </button> <br/>
                    <form/>
                time: {{ answer.timestamp }} <br/>
                 <br/>
                _____________________
                 <br/>
            {% endfor %}
    <p>
        {% if user.username %}
            <form action="{% url 'answer_form' question.id %}"> <br/>
               <button type="submit" > Answer this question </button>
            </form>
        {% endif %}

    </p>

{% endblock %}

{% comment %}
    <p>
        {% if user.username %}
            <form method="post" action="{% url 'answer_form' %}">
                {% csrf_token %}
                <input type="hidden" name="original_question" value='{{ question.id }}'/>
                <textarea name="note" class="form-control" placeholder="Answer this question"></textarea>
                <button type="submit"><strong>Answer this question </strong></button>
            </form>
        {% endif %}
    </p>
{% endcomment %}
