{% block nav_bar %}
    <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-header">
          <ul>
           {% if user.is_authenticated %}
              <li><a href=/question_list/>All questions</a></li>
              <li>Logged in: {{ user.username }} - rep: {{ user.userprofile.reputation }}</li>
              <li><a href="{% url 'user_detail' %}">{{ user.username }} content</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
              <li><a href=/accounts/login/>Login</a></li>
              <li><a href=/register/>Register</a></li>
          {% endif %}
          </ul>
       </div>
    </nav>
{% endblock %}

{% block css %}
<head>
    {% load staticfiles %}

        <!-- Latest compiled and minified CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha256-o0IkLyCCWGBI+ryg6bL44/f8s4cb7+5bncR4LvU57a8= sha512-jptu6vg45XTY9uPX3vD5nHN4vASCN2hHl+fhmgkdd/px/bFHKMXmDXhkNmTiCpKqH6sliEPFakl2KZNav2Zo1Q==" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">

    <meta charset="UTF-8">
    <title>QuestionBox</title>
</head>
<footer>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</footer>
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <body>
            <p>
                <br/>
                "Base Block Content"
            </p>
        </body>
    </html>
{% endblock%}

