{% extends "base.html" %}

{% block content %}
    <p>
        <br/>
            {{ "Question asked by: "}} {{ question.user }} - rep: {{ question.user.userprofile.reputation }}<br/>
            {{ "Title:" }} {{ question.title }} <br/>
            {{ "Question: "}} {{ question.question }} <br/>
            {{ "Submitted: "}}{{ question.timestamp}} <br/>
                _____________________ <br/>
    </p>
    <p>
            {% for answer in question.answer_set.all %} <br/>
                Answered by: {{ answer.user }} - rep: {{ answer.user.userprofile.reputation }}<br/>
                on {{ answer.timestamp }} <br/><br/>
                Answer: {{ answer.answer }}<br/><br/>
                Votes for this answer: {{ answer.reputation }}<br/>
                    <form method="POST" action="{% url 'upvote' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ answer.id }}" />
                    <button type="submit" name="vote" value="up" > Upvote </button>
                    </form>

                    <form method="POST" action="{% url 'downvote' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ answer.id }}" />
                    <button type="submit" name="vote" value="down"> Downvote </button> <br/>
                    </form>
                _____________________
                 <br/>
            {% endfor %}
    <p>
        {% if user.username %}
            <form action="{% url 'answer_form' question.id %}"> <br/>
               <button type="submit" > Answer this question </button>
            </form>
        {% endif %}

    </p>

{% endblock %}
