{% extends "base.html" %}

{% block content %}
    <p><br/>
        <strong>Questions started by {{ user.username }} </strong><br/>
        _____________________
        {% for question in questions %}
            <li class="list-group-item">
                <div>
                    <a href="{% url "question_detail" question.id %}">{{ question.title }}</a><br/>
                    Asked by: {{ question.user }} - rep: {{ question.user.userprofile.reputation }}<br/>
                    Created: {{ question.timestamp }} <br/>
                    _____________________
                </div>
            </li><br/>
        {% endfor %}
    </p>
{% endblock %}