<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<br>
<body>
<div class="container" align="center">
<h1>Stackoverflow Clone</h1>
    <a href="{% url 'stack:home' %}" >Home</a><br /><br />

{% if user.id %}
        <a href="{% url 'stack:AskQuestion' %}">Click here to ask a question</a><br></br>

    <h3>Welcome {{ user.username }}</h3><br />
    <a href="{% url 'stack:Logout' %}">Logout</a><br />
    {% csrf_token %}
{% else %}
    <a href="{% url 'stack:Login' %}">Login</a><br />
    <a href="{% url 'stack:register' %}">Sign up</a><br /><br />
{% endif %}<br />

{% block body %}

{% endblock %}
</div>
</body>
</html>
