<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<br>

<h1>Stackoverflow Clone</h1>
    <a href="{% url 'stack:home' %}" >Home</a><br></br>
{% if user.id %}

    <h3>Welcome {{ user.username }}</h3><br/>
    <a href="{% url 'stack:Logout' %}">Logout</a><br/>
    {% csrf_token %}
{% else %}
    <a href="{% url 'stack:Login' %}">Login</a><br/>
    <a href="{% url 'stack:register' %}">Sign up</a><br/><br/>
{% endif %}<br/>

{% block body %}

{% endblock %}

</body>
</html>
