/*********************************************
GENERAL
*********************************************/

div.container form {
    background: #2b3e50;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#login {
    padding-top: 20px;
    background: #2b3e50;
}


/*********************************************
page: HOME
*********************************************/

.jumbotron h1 {
    text-align: center;
}

.jumbotron h3 {
    text-align: center;
}

#homebutton {
    margin-bottom: 10%;
