{% extends 'base.html' %}

<!DOCTYPE html>
<br>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
 </head>
<br>

{% block body %}
    <h1>{{ question.title }}</h1>
    <p>{{question.text}}</p>
<h2>Answers are below</h2>
{% for obj in answer %}
    <div>Score: {{obj.score}} <br>Timestamp: {{obj.timestamp}}</br>User:
     {% if obj.user.user.pk %}   <a href="{% url 'stack:Profile' obj.user.user.pk %}">{% endif %}
   {{obj.user.user.username}}</a>

     <br> </br> {{obj.text}}</div><br></br>
{% endfor %}




    </div>

{% if question.pk %}<a href="{% url 'stack:answer_question' question.pk %}" >Answer Question</a>
{% endif %}

{% endblock %}
</body>

</html>
