{% extends 'base.html' %}


<br>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
 </head>
<br>

{% block body %}
    <h2>{{ question.title }}</h2>
    <h6>Score: {{question.score}}</h6>
    <p>{{question.text}}</p>
{% if user.username %}
<form action="{% url 'stack:vote_create' question.pk 'question' 'upvote' %}" method="POST">
                    {% csrf_token %}
                    <input id="submit" type="submit" value="upvote" />
                </form>
<form action="{% url 'stack:vote_create' question.pk 'question' 'downvote' %}" method="POST">
                {% csrf_token %}
                <input id="submit" type="submit" value="downvote">
</form>
{% endif %}<br />
{% if question.pk %}


<div class="container" align="center">
<a href="{% url 'stack:answer_question' question.pk %}" >Answer Question</a>
</div>
    {% endif %}
<h2>Answers are below</h2>

{% for obj in answer %}
    <div>Score: {{obj.score}} <br />Timestamp: {{obj.timestamp}}<br />User:
        {% if obj.user.user.pk %}
             <a href="{% url 'stack:Profile' obj.user.user.pk %}">
   {{obj.user.user.username}}</a>
        {% endif %}
   {% if user.username %}
    <form action="{% url 'stack:vote_create' obj.pk 'answer' 'upvote' %}" method="POST">
        {% csrf_token %}
        <input id="submit" type="submit" value="upvote"/>
    </form>
    <form action="{% url 'stack:vote_create' obj.pk 'answer' 'downvote' %}" method="POST">
        {% csrf_token %}
        <input id="submit" type="submit" value="downvote"/>
    </form>
    {% endif %}
     <br> </br> {{obj.text}}</div><br /><br />
{% endfor %}




    </div>





{% endblock %}
</body>

</html>

