{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Permission Denied</title>
</head>

{% block body %}
<body>
    <h1>You don't have a high enough score to ask questions yet</h1>
    <h2>You can earn points by upvoting things you find helpful</h2>
<div class="jumbotron">
  <p>...</p>

    <h2></h2>
    <div class="container">
    <p>One of the requirements of this project was to implement a reputation based
        system.  The higher a users score is, the more reputation that user has.
        A higher rep allows a user to ask and answer questions.
        For demonstration purposes I have added the below button to add
        25 points to your score, allowing you to ask questions.
    </p>
    <a href="{% url 'stack:add_25_points_2' %}"><button>Add 25 Points To Ask a Question</button></a>
    </div>
</div>
</body>
{% endblock %}
</html>